<img src="banner.jpg" alt="banner" class="bgimg"  >

<div class="container">
    <h3>New Products</h3>
    <div class="row">

        <div class="col-lg-2 col-md-4 col-12 col-sm-6 mb-2">
            <div class="card">
                <img src={{productslist[0].img}} class="card-img-top" alt="...">
                <span class="badge bg-success position-absolute mt-2">In Stock</span>
                <div class="card-body">
                    <h5 class="card-title">{{productslist[0].name}}</h5>
                    <h5 class="text-info">{{productslist[0].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-12 col-sm-6">
            <div class="card">
                <img src={{productslist[1].img}} class="card-img-top" alt="...">
                <span class="badge bg-success position-absolute mt-2">In Stock</span>
                <div class="card-body">
                    <h5 class="card-title">{{productslist[1].name}}</h5>
                    <h5 class="text-info">{{productslist[1].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-12 col-sm-6">
            <div class="card">
                <img src={{productslist[2].img}} class="card-img-top" alt="...">
                <span class="badge bg-danger position-absolute mt-2">Out of Stock</span>
                <div class="card-body">
                    <h5 class="card-title">{{productslist[2].name}}</h5>
                    <h5 class="text-info">{{productslist[2].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-12 col-sm-6">
            <div class="card">
                <img src={{productslist[3].img}} class="card-img-top" alt="...">
                <span class="badge bg-success position-absolute mt-2">In Stock</span>
                <div class="card-body">
                    <h5 class="card-title">{{productslist[3].name}}</h5>
                    <h5 class="text-info">{{productslist[3].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-md-4 col-12 col-sm-6">
            <div class="card">
                <img src={{productslist[4].img}} class="card-img-top" alt="...">
                <span class="badge bg-success position-absolute mt-2">In Stock</span>
                <div class="card-body">
                    <h5 class="card-title">T{{productslist[4].name}}</h5>
                    <h5 class="text-info">{{productslist[4].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-md-4 col-12 col-sm-6">
            <div class="card">
                <img src={{productslist[5].img}} class="card-img-top position-relative" alt="...">
                <span class="badge bg-danger position-absolute mt-2">Out of Stock</span>
                <div class="card-body">
                    <h5 class="card-title">{{productslist[5].name}}</h5>
                    <h5 class="text-info">{{productslist[5].price}}</h5>
                    <h5 class="text-dark">Freeshipping</h5>
                </div>
            </div>
        </div>

    </div>

</div>
